@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
#root{
    width: 100%;
    max-width: 1200px;
    align-items: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00b5a6;
    color: #eeeeee;
}
header{
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1250px) {
    #root{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    header {
        width: 955px;
    }
}
@media (max-width: 1000px) {
    header {
        width: 710px;
    }
}
@media (max-width: 800px) {
    header {
        width: 465px;
    }
}
@media (max-width: 500px) {
    header {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}