#cardList{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(5, 220px);
    gap: 25px;
    margin-bottom: 25px;
}

@media (max-width: 1250px) {
    #cardList{
        grid-template-columns: repeat(4, 220px);
    }
}
@media (max-width: 1000px) {
    #cardList{
        grid-template-columns: repeat(3, 220px);
    }
}
@media (max-width: 800px) {
    #cardList{
        grid-template-columns: repeat(2, 220px);
    }
}
@media (max-width: 500px) {
    #cardList{
        grid-template-columns: repeat(1, 220px);
    }
}