.card {
    width: 220px;
    height: 220px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card-side{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-side-front {
    background: #eeeeee;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-side-back {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #eeeeee;
    transform: rotateY(180deg);
}

.card-image-back{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.card-image-wrapper{
    width: 200px;
    height: 200px;
}
.card-image{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}



