#modal{
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    gap: 8px;
    z-index: 1;
}
.modal-content{
    width: 500px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-size: 20px;
    overflow: hidden;
}
.modal-content > img {
    width: 105%;
    height: auto;
}
#user-result{
    display: flex;
    gap: 8px;
    color: black;
}
#user-result > .user-result-block{
    width: 246px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 12px;
}
.modal-btn{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 20px;
}

#modal.active{
    display: flex;
    flex-direction: column;
}