#modal{
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    gap: 8px;
    z-index: 1;
}
.modal-content{
    width: 500px;
    height: 300px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-size: 20px;
    overflow: hidden;
}
.modal-content > img {
    width: 480px;
    height: 280px;
    object-fit: cover;
}
#user-result{
    display: flex;
    gap: 8px;
    color: black;
}
#user-result > .user-result-block{
    width: 246px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 12px;
}
.modal-btn{
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

#modal.active{
    display: flex;
    flex-direction: column;
}
@media (max-width: 500px) {
    .modal-content {
        width: 100%;
        height: 300px;
        max-width: 400px;
    }
    .modal-content > img {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        object-fit: cover;
    }

    #user-result {
        flex-direction: column;
        gap: 12px;
        width: 100%;
        max-width: 400px;
    }

    #user-result > .user-result-block {
        width: 100%;
    }

    .modal-btn {
        width: 100%;
        max-width: 400px;
    }
}
